.charcoal {
  --color-background: oklch(96.02% 0.003 247.86);
  --color-foreground: oklch(40.09% 0.033 264.1);
  --color-primary: oklch(57.2% 0.048 264.72);
  --color-primary-foreground: oklch(91.83% 0.009 264.52);
  --color-error: oklch(63.68% 0.109 13.96);
  --color-error-foreground: oklch(91.83% 0.009 264.52);
  --color-success: oklch(56.38% 0.055 194.1);
  --color-success-foreground: oklch(93.34% 0.014 196.92);
}

.charcoal.dark {
  --color-background: oklch(30.86% 0.023 264.15);
  --color-foreground: oklch(74.95% 0.028 264.39);
  --color-primary: oklch(40.09% 0.033 264.1);
  --color-primary-foreground: oklch(91.83% 0.009 264.52);
  --color-error: oklch(38.69% 0.093 15.92);
  --color-error-foreground: oklch(91.83% 0.009 264.52);
  --color-success: oklch(45.98% 0.044 193.63);
  --color-success-foreground: oklch(93.34% 0.014 196.92);
}
